h1{
    text-align: center;
}

.field{
    display:grid;
    grid-template-columns: repeat(8,40px);
    }
    
button
    {
    height:40px;
    width: 40px;
    font-size:24px;
    }

img{
    border:1px solid black;
    width: 40px;
    height: 40px;
}
.container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    /* width: 378px; */
}
.row {
    height: 40px;
    width: 100%;
}
.btn_new_game {
    border: 0;
    background-image: url(./img/new-game-1.png);
}
.btn_new_game2 {
    border: 0;
    background-image: url(./img/new-game-2.png);
}
.btn_new_game3 {
    border: 0;
    background-image: url(./img/lose-game.png);
}
.flag {
    margin: 5px;
    text-align: center;
    border:1px;
    padding-bottom: 10px;
}

.flagLeftCounter {
    border: 0;
    background-color: transparent;
    background-image: url(./img/flag.png);
}
.buttons
{
    text-align: center;
    border:1px;
    padding-bottom: 10px;
}